body {
    width: 600px;
    margin: 0 auto;
    background-image: url("./skynight.jpg");
    padding: 80 20px 20px 20px;
    margin:auto;
    max-width: max-content;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding-inline: 30px; /* added */
    padding-block: 7px;   /* added*/
    outline: none;       /* added */
    border-radius: 7px;
    font-weight: bold;
    color: black;
    background-color: gray;
    border: 2px solid black; /* added */ 
    flex-shrink: 0;
}

.center{
    text-align: center;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: xx-large;
    border-radius: 7px;
}

input{
    border-radius: 7px;
    background-color: wheat;
    border-color: black;
    text-shadow: 0 0 .5rem black;
}